<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<script src="//script.sheetsu.com/"></script>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	 crossorigin="anonymous">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style type="text/css">
		.fixar_barra {
			position: fixed;
			width: 100%;
			height: 7, 5%;
		}

		.fixar_top_table {
			position: fixed;
			float: right;
			padding-left: 0.5%;
			padding-right: 0.5%;
			padding-bottom: 0.5%;
			padding-top: 5%;
			width: 85%;
			display: table;
		}

		.fixar_body_table {
			padding-top: 10.2%;
		}

		.tabela {
			float: right;
			padding-left: 0.5%;
			padding-right: 0.5%;
			padding-bottom: 0.5%;
			padding-top: 4%;
			width: 85%;
			display: table;

		}

		.sidebar {
			float: left;
			width: 10%;
			top: 8%;
			position: fixed;

		}

		.title {
			float: right;
			padding-right: 0.5%;
			width: 70%;
			padding-top: 3.2%;

		}

		.table_ex {
			background-color: #373f4c;
			color: white;
		}

		.dropdwn {
			float: right;
			padding-left: 87.5%;
			padding-right: 6pt;
			padding-top: 4%;
			position: fixed;
		}

		#data {
			font-size: 10pt;
		}

		.destaque {
			color: #fff !important;
			background-color: rgb(97, 97, 97) !important
		}

		.destaque_item {
			background: #9b9b9b;
			color: #fff;
		}

		.linha {}
	</style>

	<meta charset="utf-8">
	<title>DBMonitor</title>


</head>

<body>

	<nav class="fixar_barra navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="/">NOME</a>
	</nav>

	<!-- Sidebar -->
	<div class="sidebar">

		<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">

			<div class="w3-sidebar w3-light-grey w3-card" style="width:15%">
				<a href="/home" class="w3-bar-item w3-button">Início</a>
				<a href="/graficos" class="w3-bar-item w3-button">Eventos</a>
			</div>
		</div>
	</div>

	<div class="tabela">
		<table class="fixar_top_table table table-striped">
			<thead  class="thead-dark fixar_top_table">
				<th scope="col" width="30%">Data</th>
				<th scope="col" width="30%">Temperatura C°</th>
				<th scope="col" width="30%">Status</th>
			</thead>
			
			<tbody sheetsu="https://sheetsu.com/apis/v1.0su/2733ba513349">
				<tr>	
					<td  width="35%">{{Carimbo de data/hora}}</td>
					<td width="30%">{{Temperatura}}Cº</td>
					<td width="33%">{{AX}}</td>
				</tr>
			</tbody>
		</table>

		<script src="//load.sheetsu.com"></script>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	 crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	 crossorigin="anonymous"></script>

	<script>
		function myAccFunc() {
			var x = document.getElementById("demoAcc");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
				x.previousElementSibling.className += " destaque";
			} else {
				x.className = x.className.replace(" w3-show", "");
				x.previousElementSibling.className =
					x.previousElementSibling.className.replace(" destaque", "");
			}
		}

		function myDropFunc() {
			var x = document.getElementById("demoDrop");
			if (x.className.indexOf("w3-show") == -1) {
				x.className += " w3-show";
				x.previousElementSibling.className += " w3-green";
			} else {
				x.className = x.className.replace(" w3-show", "");
				x.previousElementSibling.className =
					x.previousElementSibling.className.replace(" w3-green", "");
			}
		}
	</script>
</body>

</html>